<div class="logo-wrapper">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="logo-svg" viewBox="0 0 148 148">
    <defs>
      <pattern id="New_Pattern_Swatch_3" data-name="New Pattern Swatch 3" width="129.11" height="101.79" patternTransform="translate(717.97 -45.8)" patternUnits="userSpaceOnUse" viewBox="0 0 129.11 101.79">
        <rect width="129.11" height="101.79" fill="none"/>
        <rect width="129.11" height="101.79" fill="#bf00fe"/>
      </pattern>
    </defs>
    <title>logo-icon</title>
    <polyline points="2 2 146 2 146 146 2 146 2 11 137 11 137 137 11 137 11 20 128 20 128 128 20 128 20 29 119 29 119 119 29 119 29 38 110 38 110 110 38 110 38 47 101 47 101 101 47 101 47 56 92 56 92 92 56 92 56 65 83 65 83 83 65 83 65 74 74 74" fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="4" stroke="url(#New_Pattern_Swatch_3)"/>
  </svg>
</div>

<style>
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .logo-wrapper {
    display: flex;
    height: 100px;
    width: 100px;
    position: relative;
  }
  .logo-svg {
    height: 100%;
    animation: rotate 12s linear infinite reverse;
  }
  @media (prefers-reduced-motion: reduce) {
		.logo-svg {
			animation-play-state: paused !important;
		}
	}
  @media screen and (max-width: 1200px) {
    .logo-wrapper {
      height: 68px;
      width: 68px;
    }
  }
  @media screen and (max-width: 900px) {
    .logo-wrapper {
      height: 40px;
      width: 40px;
    }
	}
  @media screen and (max-width: 500px) {
    .logo-wrapper {
      height: 30px;
      width: 30px;
    }
	}
</style>
