---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Commune WoW Guild">
	<div class="marquee">
		<ul class="marquee__content">
			<li>THE SWORD IS STILL IN THERE, IS SOMEONE GOING TO REMOVE IT? WHAT IF NO ONE DOES? DOES NO ONE REMEMBER THAT ITS THERE? WHAT IF NO ONE REMEMBERS THAT IM HERE, LIKE THAT SWORD? WHAT IF WE'RE ALL THE SWORD?</li>
		</ul>
		<ul class="marquee__content" aria-hidden="true">
			<li>THE SWORD IS STILL IN THERE, IS SOMEONE GOING TO REMOVE IT? WHAT IF NO ONE DOES? DOES NO ONE REMEMBER THAT ITS THERE? WHAT IF NO ONE REMEMBERS THAT IM HERE, LIKE THAT SWORD? WHAT IF WE'RE ALL THE SWORD?</li>
		</ul>
	</div>
</Layout>

<style>
	@keyframes scroll {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}

	.marquee {
		--gap: 8px;
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;
		align-items: flex-start;
		display: flex;
		overflow: hidden;
		user-select: none;
		gap: var(--gap);
	}

	.marquee__content {
		flex-shrink: 0;
		display: flex;
		justify-content: space-around;
		gap: var(--gap);
		min-width: 100%;
		animation: scroll 30s linear infinite;
	}

	.marquee__content li {
		font-size: 60px;
		color: rgb(var(--accent-dark));
		font-weight: 400;
	}

	@media (prefers-reduced-motion: reduce) {
		.marquee__content {
			animation-play-state: paused !important;
		}
	}
</style>
