---
import Layout from '../layouts/Layout.astro';
import Murlock from '../components/Murlock.astro'
---

<Layout title="Commune Leftist WoW Guild">
	<article class="home-page">
		<section class="guild-info">
			<h4>
				OUR GUILD
			</h4>
			<p>
				We are a Cross Faction Horde guild on <strong>Wyrmrest Accord</strong>! We're a vibrant community of gamers with the shared goal of creating a relaxed and inclusive space for leftists to enjoy World of Warcraft together. Almost all of us are anarchists, communists, socialists, or followers of related left political tendencies. Most of us are LGBTQIA+, and we strive to maintain an environment where our queerness is not only accepted but celebrated.
			</p>
			<p>
				- We raid Thurs. & Mon. 8:30-10:30PM EST, and have cleared AOTC every tier since we started.</li>
			</p>
			<p>
				- We have a "relaxed" (usually Normal difficuly) raid on Sunday, 8-10PM EST</li>
			</p>
			<p>
				- We have a very active M+ community, with many of our players having achieved KSM, and portals this season.</li>
			</p>
			<p>
				- We have semi-regular in-game get togethers with music, dancing, and tons of fun!</li>
			</p>
		</section>
		<aside class="murlock">
			<Murlock />
			<div
				class="blurb"
			>
				<h2>
					YOU DON'T HAVE TO PLAY WITH RUDE PEOPLE
				</h2>
			</div>

		</aside>
		<section class="guild-news">
			<h5>
				DREAMING ABOUT GUARDIANS OF THE DREAM
			</h5>
			<p>Oct 5, 2023</p>
			<p>
				With AOTC done, and the season winding down, a lot of the guild has been taking the opportunity to enjoy games and hobbies outside of World of Warcraft.
			</p>
			<p>
				While we do have our eyes firmly set on the news, eagerly anticipating the upcoming patch's release date announcement so we can begin organizing our raid groups in earnest, I think we're all appreciating the break from what has felt like a rather long season.
			</p>
			<p>
				So while we can't promise a particularly active raiding on M+ scene at the moment (although they do still exist), the vibes are -- as always -- incredible.
			</p>
		</section>
	</article>
</Layout>

<style>
	.home-page {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		height: auto;
		padding-bottom: 52px;
		justify-content: flex-start;
	}

	.guild-info, .guild-news, .murlock {
		height: 760px;
	}

	.guild-info, .guild-news {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		border: var(--border-width-thick) solid rgb(var(--accent-dark));
		width: 420px;
		margin: 0px 52px;
		flex-shrink: 0;
	}

	.guild-info {
		border: var(--border-width-thick) solid rgb(var(--accent-dark));
		color:	rgb(var(--accent-dark));
	}

	.guild-info h4 {
		height: 54px;
		display: flex;
		font-size: 36px;
		border-bottom: 5px solid rgb(var(--accent-dark));
		align-items: center;
		justify-content: center;
		color: rgb(var(--accent-dark));
		width: 100%;
		margin-bottom: 20px;
	}

	.guild-info p {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 16px;
		line-height: 1.6;
	}

	.guild-news {
		border: var(--border-width) solid rgb(var(--accent-dark));
		padding: 20px;
	}

	.guild-news h5 {
		font-size: 36px;
		color: rgb(var(--accent-dark));
		font-weight: 400;
		padding-bottom: 24px;
		line-height: 1.2;
		text-align: center;
		text-decoration: underline;
	}

	.guild-news p {
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 16px;
		line-height: 1.6;
		color: rgb(var(--accent-dark));
	}

	.murlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1;
		flex-shrink: 0;
	}

	.blurb {
		padding-top: 36px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.blurb h2 {
		color: rgb(var(--accent-dark));
		font-weight: 400;
		width: 100%;
		max-width: 500px;
		text-align: center;
		font-size: 52px;
		line-height: 60px;
		border-top: 5px solid rgb(var(--accent-dark));
		border-bottom: 5px solid rgb(var(--accent-dark));
		padding: 12px 0px;
	}

	@media screen and (max-width: 1200px) {
		.home-page {
			padding-bottom: 44px;
		}
		.guild-info, .guild-news  {
			margin: 0px 44px;
			width: 300px;
		}
		.description {
			font-size: 5.2cqw;
		}
		.guild-info, .guild-news, .murlock {
			height: 960px;
		}
  }
  @media screen and (max-width: 940px) {
		.home-page {
			padding-left: 44px;
			padding-right: 44px;
			height: auto;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
		.guild-info, .guild-news  {
			margin: 0px;
			width: 100%;
			height: auto;
		}

		.guild-info {
			container: none;
		}

		.blurb h2 {
			font-size: 44px;
			line-height: 48px;
		}

		.description {
			height: auto;
			font-size: 14px;
		}

		.murlock {
			width: 100%;
			height: 600px;
			flex-grow: unset;
			flex-basis: unset;
			margin: 44px 0px;
		}
	}
  @media screen and (max-width: 500px) {
		.home-page {
			padding: 0px 32px 32px 32px;
		}
		.blurb h2 {
			font-size: 36px;
			line-height: 40px;
		}
		.guild-info h4 {
			font-size: 28px;
		}
		.guild-news h5 {
			font-size: 28px;
		}
	}
</style>
